#image{
max-width: 100%;
height:auto;
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;


}

#title{

    font-size: 2rem;
    font-style: normal;
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
h4{
    text-align: center;
}

#img-caption, h3{

    text-align: center;
    
}


#img-caption{

font-size: 1rem;

}



#img-div{


    margin: 0 auto;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}



ul,p {
    max-width: 800px;
    text-align: left;
    display: block;
    margin: 0 auto 50px auto;
    line-height: 2.0;

   }

   main{

    background-color: #eee;
    border-radius: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   }

#img-caption{

font-size: 0.9rem;
font-weight: bold;

}
footer{

    text-align: center;
    font-size: 0.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}